body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 200px;
    color: #89baeb;
    background-color: #53b4e9;

}
button{
    background-color: #e2e1e2;
    color: #000204;
    border: none;padding: 10px 20px;
    margin: 10px;
    size: 20px;    

}
h1{
    font-size: 100px;
    color: #14171a;

}