body{
    text-align:center;
    margin-top:100px;
    background-color: #320808;
    color: rgb(238, 219, 219);
    font-family: Arial, sans-serif;
    font-size: 18px;
}
button{
    padding: 10px 20px;
    font-size: 24px;
    background-color: #f0e9e6;
    color: rgb(18, 6, 6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}